/* CASCADING VARIABLES --------------------------------------------------- */

.btn {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;

  font-size: calc(var(--btn-font-size, 1) * 1em);
  background-color: var(--btn-bg, blueviolet);
}

.intro {
  --btn-font-size: 1.1;
  --btn-bg: #b13c69;
}

.card {
  --btn-font-size: 0.85;
  --btn-bg: #60a4b3;
}

.modal {
  --btn-font-size: 1;
  --btn-bg: #e85838;
  display: none;
}
